<div class="container">
  <h1>Edit Contact</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateContact(contact._id)" #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="contact.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="contact.email" name="email" required>
        </div>
        <div class="form-group">
          <label for="name">Phone No.</label>
          <input type="text" class="form-control" [(ngModel)]="contact.phone_number" name="phone_number" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
