<div class="container">
  <img src="/assets/logo.jpg" style="display: table;
    margin: 0 auto;
    height: 132px;
    padding-top: 25px;">
  <h1 style="padding-top: 30px;">Call log
    <a [routerLink]="['/']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/open-calendar']" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th>Phone No.</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of callers">
      <td>{{ c.caller}}</td>
    </tr>
    </tbody>
  </table>
</div>
