<div class="container">
  <img src="/assets/logo.jpg" style="display: table;
    margin: 0 auto;
    height: 132px;
    padding-top: 25px;">
  <h1 style="padding-top: 30px;">Add New Contact</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveContact()" #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="contact.name" name="isbn" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" [(ngModel)]="contact.email" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Phone No.</label>
          <input type="text" class="form-control" [(ngModel)]="contact.phone_number" name="author" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
