<div class="container">
  <img src="/assets/logo.jpg" style="display: table;
    margin: 0 auto;
    height: 132px;
    padding-top: 25px;">
  <h1 style="padding-top: 30px;">Contact Catalogue
    <a [routerLink]="['/contact-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/open-calendar']" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/callers']" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td><a [routerLink]="['/contact-details', contact._id]">Show Details</a></td>
    </tr>
    </tbody>
  </table>
</div>
