<div class="container">
  <img src="/assets/logo.jpg" style="display: table;
    margin: 0 auto;
    height: 132px;
    padding-top: 25px;">
  <h1 style="padding-top: 30px;">{{ contact.name }}</h1>
  <dl class="list">
    <dt><h3 style="padding-top: 10px">Email</h3></dt>
    <dd >{{ contact.email }}</dd>
    <dt><h3 style="padding-top: 10px">Phone No.</h3></dt>
    <dd >{{ contact.phone_number}}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/']" class="btn btn-success" style="margin-right: 15px; margin-top: 10px;">Home</a>
      <a [routerLink]="['/contact-edit', contact._id]" class="btn btn-info"style="margin-right: 15px; margin-top: 10px;">Edit</a>
      <button class="btn btn-danger" type="button" style="margin-top: 10px;" (click)="deleteContact(contact._id)">Delete</button>
    </div>
  </div>
</div>

